{#
SPDX-FileCopyrightText: 2024 Bergrübe

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if stirling_pdf_container_labels_traefik_enabled %}
{% if stirling_pdf_container_labels_traefik_docker_network %}
traefik.docker.network={{ stirling_pdf_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if stirling_pdf_path_prefix != '/' %}
traefik.http.middlewares.{{ stirling_pdf_identifier }}-slashless-redirect.redirectregex.regex=({{ stirling_pdf_path_prefix | quote }})$
traefik.http.middlewares.{{ stirling_pdf_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [stirling_pdf_identifier + '-slashless-redirect'] %}
{% endif %}

{% if stirling_pdf_path_prefix != '/' %}
traefik.http.middlewares.{{ stirling_pdf_identifier }}-strip-prefix.stripprefix.prefixes={{ stirling_pdf_path_prefix }}
{% set middlewares = middlewares + [stirling_pdf_identifier + '-strip-prefix'] %}
{% endif %}

{% if stirling_pdf_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in stirling_pdf_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ stirling_pdf_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [stirling_pdf_identifier + '-add-request-headers'] %}
{% endif %}

{% if stirling_pdf_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in stirling_pdf_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ stirling_pdf_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [stirling_pdf_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ stirling_pdf_identifier }}.rule=Host("{{ stirling_pdf_hostname }}")
{% if stirling_pdf_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ stirling_pdf_identifier }}.priority={{ stirling_pdf_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ stirling_pdf_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ stirling_pdf_identifier }}.service={{ stirling_pdf_identifier }}
traefik.http.routers.{{ stirling_pdf_identifier }}.entrypoints={{ stirling_pdf_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ stirling_pdf_identifier }}.tls={{ stirling_pdf_container_labels_traefik_tls | to_json }}
{% if stirling_pdf_container_labels_traefik_tls %}
traefik.http.routers.{{ stirling_pdf_identifier }}.tls.certResolver={{ stirling_pdf_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ stirling_pdf_identifier }}.loadbalancer.server.port={{ stirling_pdf_container_http_port }}

{{ stirling_pdf_container_labels_additional_labels }}
