{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Bergrübe
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Stirling PDF ({{ stirling_pdf_identifier }})
{% for service in stirling_pdf_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in stirling_pdf_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ stirling_pdf_container_cleanup_command | trim | replace("\n", " ") }}'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ stirling_pdf_identifier }} \
      --log-driver=none \
      --user={{ stirling_pdf_uid }}:{{ stirling_pdf_gid }} \
      --cap-drop=ALL \
      --network={{ stirling_pdf_container_network }} \
      {% if stirling_pdf_container_http_host_bind_port %}
      -p {{ stirling_pdf_container_http_host_bind_port }}:{{ stirling_pdf_container_http_port }} \
      {% endif %}
      --env-file={{ stirling_pdf_env_path }} \
      --label-file={{ stirling_pdf_config_path }}/labels \
      {% for mount in stirling_pdf_container_additional_mounts %}
      --mount {{ mount }} \
      {% endfor %}
      --mount type=bind,src={{ stirling_pdf_logs_path }},dst=/logs \
      --mount type=bind,src={{ stirling_pdf_data_path }}/config,dst=/configs \
      --mount type=bind,src={{ stirling_pdf_trainingData_path }},dst=/usr/share/tessdata \
      --mount type=bind,src={{ stirling_pdf_data_path }}/customFiles,dst=/customFiles \
      --mount type=bind,src={{ stirling_pdf_data_path }}/pipeline,dst=/pipeline \
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ stirling_pdf_container_tmpfs_size }} \
      {{ stirling_pdf_container_image }}

{% for network in stirling_pdf_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ stirling_pdf_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ stirling_pdf_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ stirling_pdf_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ stirling_pdf_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ stirling_pdf_identifier }}

[Install]
WantedBy=multi-user.target
